@model IEnumerable<HastaTakip.Models.Ziyaret>

@{
    ViewData["Title"] = "Index";
}

<h1>Hasta Ziyaretleri</h1>

<p>
    <a asp-action="Create">Hasta Ziyareti Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a>Ziyaret Numarası</a>
            </th>
            <th>
                <a>Hasta ID</a>
            </th>
            <th>
                <a>Ziyaret Tarihi</a>
            </th>
            <th>
                <a>İlgilenen Doktor</a> 
            </th>
            <th>
                <a>Hastanın Şikayeti</a>
            </th>
            <th>
                <a>Uygulanan Tedavi</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ziyaret_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hasta_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ziyaret_tarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doktor_adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sikayet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tedavi_sekli)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ziyaret_id">Ziyaret Bilgilerini Güncelle</a> |
                <a asp-action="Details" asp-route-id="@item.ziyaret_id">Ziyaret Bilgileri</a> |
                <a asp-action="Delete" asp-route-id="@item.ziyaret_id">Ziyaret Kaydını Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
