@model HastaTakip.Models.Hasta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hasta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasta_tc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasta_tc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hasta_ad_soyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hasta_ad_soyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dogum_tarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dogum_tarihi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="hasta_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
