@model IEnumerable<HastaTakip.Models.Hasta>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff; /* Set the background color to white */
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .header {
            margin-bottom: 30px;
            text-align: center;
        }

            .header h1 {
                font-size: 36px;
                color: #333;
                margin-bottom: 10px;
            }

            .header p {
                font-size: 18px;
                color: #666;
            }

        .create-link {
            display: inline-block;
            margin-bottom: 20px;
            background-color: #007bff; /* Set the background color to blue */
            color: #fff;
            font-size: 18px;
            padding: 14px 28px;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

            .create-link:hover {
                background-color: #0056b3; /* Darker shade of blue on hover */
                color: #fff; /* Change text color on hover */
            }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

            .table th {
                background-color: #007bff; /* Set the background color of the table header to blue */
                color: #fff;
                padding: 10px;
                font-weight: bold;
                text-align: left;
                font-size: 16px;
            }

            .table td {
                background-color: #fff;
                padding: 10px;
                border-bottom: 1px solid #ccc;
            }

                .table td a {
                    text-decoration: none;
                    color: #007bff; /* Set the link color to blue */
                    font-size: 16px;
                    margin-right: 10px;
                    transition: color 0.3s ease;
                }

                    .table td a:hover {
                        text-decoration: underline;
                        color: #0056b3; /* Darker shade of blue on hover */

                    }

        .footer {
            text-align: center;
            margin-top: 40px;
            color: #999;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Kayıtlı Hastalar</h1>
            <p><a class="create-link" asp-action="Create" style="text-decoration: none;">Yeni Hasta Kayıt</a></p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Hasta ID</th>
                    <th>TC Numarası</th>
                    <th>Adı ve Soyadı</th>
                    <th>Doğum Tarihi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.hasta_id)</td>
                        <td>@Html.DisplayFor(modelItem => item.hasta_tc)</td>
                        <td>@Html.DisplayFor(modelItem => item.hasta_ad_soyad)</td>
                        <td>@Html.DisplayFor(modelItem => item.dogum_tarihi)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.hasta_id" style="text-decoration: none; color: #007bff; margin-right: 10px;">Bilgileri Güncelle</a>
                            <a asp-action="Details" asp-route-id="@item.hasta_id" style="text-decoration: none; color: #007bff; margin-right: 10px;">Bilgiler</a>
                            <a asp-action="Delete" asp-route-id="@item.hasta_id" style="text-decoration: none; color: #007bff; margin-right: 10px;">Hasta Kaydını Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
